table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin-left:auto; 
	margin-right:auto;
	padding: 0;
	width: 50%;
	table-layout: fixed;
	border-radius: 15px;
	box-shadow: 16px 16px 32px #c8c8c8,
		-16px -16px 32px #fefefe;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
 	border-radius: 15px;
	background: #e3e3e3;
	border: 1px solid #ddd;
	padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

