body{
	margin: 0;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}
h2{
	text-align: center;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card{
	
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	width: 600px;
	flex-direction: column;
	gap: 35px;
	border-radius: 15px;
	background: #e3e3e3;
	box-shadow: 16px 16px 32px #c8c8c8,
		-16px -16px 32px #fefefe;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin-left:auto; 
	margin-right:auto;
	padding: 0;
	width: 50%;
	table-layout: fixed;
	border-radius: 15px;
	box-shadow: 16px 16px 32px #c8c8c8,
		-16px -16px 32px #fefefe;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
 	border-radius: 15px;
	background: #e3e3e3;
	border: 1px solid #ddd;
	padding: .35em;}
	
tr:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}