@charset "ISO-8859-1";


@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

.hero{
	width: 100%;
	min-height: 100vh;
	background: #e3e3e3;
	color: black;
}

nav{
	background: #e3e3e3;
	width: 100%;
	padding: 10px 10%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
}

.logo{
	cursor: pointer;
	height: 60px;
	width: 100px;
	margin-right: auto;
}

.user-pic{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 30px;
	
}

nav ul{
	width: 100%;
	text-align: right;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	color: black;
	text-decoration: none;
}

.sub-menu-wrap{
	position: absolute;
	top: 100%;
	right: 10%;
	width: 320px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
	max-height: 400px;
}

.sub-menu{
	background: white;
	padding: 20px;
	margin: 10px;
}

.user-info{
	display: grid;
	align-items: center;
}

.user-info h3{
	font-size: 15px;
	font-weight: 500;
}

.user-info img{
	width: 80px;
	border-radius: 50%;
	margin-right: 15px;
}


.sub-menu hr{
	border: 0;
	height: 1px;
	width: 100%;
	background: black;
	margin: 15px 0 10px;
}

.sub-menu-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	margin: 12px 0;
}

.sub-menu-link p{
	width: 100%;
}

.sub-menu-link img{
	width: 40px;
	background: #e3e3e3;
	border-radius: 50%;
	padding: 8px;
	margin-right: 15px;
}

.sub-menu-link span{
	font-size: 22px;
	transition: transform 0.5s;
}

.sub-menu-link:hover span{
	transform: translateX(5px);
}

.sub-menu-link:hover p{
	font-weight: 600;
}



